# DaSCH Service Platform Configuration
API_HOST="https://api.dasch.swiss"
INGEST_HOST="https://ingest.dasch.swiss"
PROJECT_SHORT_CODE="your_project_code"
DSP_USER="your_email@example.com"
DSP_PWD="your_password"

# Omeka Configuration
ITEM_SET_ID="10780"

# Ontology Configuration
ONTOLOGY_NAME="SGB"
